.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-height: 426px;
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    overflow: hidden;
    
    &__categories {
        display: flex;
        gap: 5px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.009em;
        margin-top: 15px;
    }

    &__hit,
    &__discount,
    &__action {
        padding: 5px 15px;
        height: 21px;
        width: max-content;
        border-radius: 50px;
        background-color: rgba(253, 114, 114, 1);
        color: white;
        cursor: pointer;
    }

    &__discount {
        background-color: rgba(230, 126, 34, 1);
    }

    &__action {
        background-color: rgba(39, 174, 96, 1);
    }

    &__image {
        margin: auto;
        padding: 0 30px;
        margin-bottom: 38px;
    }

    &__gost {
        text-align: left;
        color: #C93E33;
        padding: 4px 10px;
        width: max-content;
        cursor: pointer;
        font-size: 10px;
        line-height: 12px;
        background: rgba(201, 62, 51, 0.1);
        border-radius: 2px;
        margin-bottom: 25px;
    }

    &__title {
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__price {
        text-align: left;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    &__price-text{
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-child{
            margin-bottom: 30px;
        }
    }
     .card__controls-wrapper{
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    .card__buttons{
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    &:hover{
        transition: all 0.2s ease;
        border-radius: 4px;
        box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.1);
        max-height: 545px;
        margin-bottom: -119px;
        z-index: 2;
        float: left;
    }
    &:hover .card__controls-wrapper{
        opacity: 1;
    }
    &:hover .card__buttons{
        opacity: 1;
    }
}